* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sytem-ui, sans-serif;

}
:root {
    --base-Color: #07214b;
    --accent-color: #38bdf8;
    --base-font-size: 16px;
    --base-font-line-heigt: 1.2em;
    --base-font-weight: 500;
    --base-navigation-borderRadius: 10px;
    --base-section-border-radius: 32px
}

body{
    background: #fff;
    color: var(--base-Color);
    font-size: var(--base-font-size);
    line-height: var(--base-font-line-heigt);
    font-weight: var(--base-font-weight);


}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 2rem;
line-height: 3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 25px;
}
section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.active{
    background: white;

}

.chatbot{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #f5f5f5;
    min-width: 200px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    cursor:  pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.chatbot p {
    margin: 0;
}

.chatbot i {
    background: white;
    padding: 9px;
    border-radius: 50%;
}

.top-bar {
    display: flex;              /* ordnet alle Kinder nebeneinander an */
    align-items: center;        /* vertikal zentrieren */
    justify-content: space-between; /* verteilt Platz gleichmäßig */
    padding: 3rem;
    background-color: #fff;     /* optional: Hintergrundfarbe */
    color: black;
    margin-left: 60px;
    margin-right: 60px;
    margin: 0 auto;
}
.top-bar h1, .top-bar p {
    margin: 0;
}

.user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: flex-end;
}


.navigation {
    background-color: #f5f5f5;
    border-radius: var(--base-navigation-borderRadius);
}


.navigation ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: .5rem;

}

.navigation ul li {
    padding: .8rem .5rem;
    border-radius: var(--base-navigation-borderRadius);
}

.navigation ul li a{
    color: black;
    text-decoration: none;
}


.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.profile img {
    width: 45px;
    border-radius: 50%;

}

.icon-nav{
    display: flex;
gap: 5px;
}

.icon-nav i{
    background-color:  #f5f5f5;
    padding: 10px;
    border-radius: 50%;

}

.section-hero {
    margin-left: 60px;
    margin-right: 60px;
    padding: 1rem;
    border-radius: var(--base-section-border-radius);
    margin: 0 auto;
    min-height: 60vh;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*https://www.w3schools.com/css/css_background_shorthand.asp*/
    background: linear-gradient(to bottom, rgba(255,255, 255, .3),rgba(122,197,205, .4)),
    url("img/heroImage.webp")no-repeat center center/cover;

}

.section-hero h1, .section-hero p {
    color: white;
}

.tags {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    right: 20px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.tag {
    background-color: #709fba;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.tab-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tab-nav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}
.tab-nav li {
    background-color: whitesmoke;
    padding: .4rem .7rem;
    border-radius: var(--base-navigation-borderRadius);
    border: 1px solid rgba(35, 35, 35, 0.3);
    cursor: pointer;
    font-size: 12px;
}
.tab-nav li:active, .tab-nav li:hover, .tab-nav li.active {
    background: black;
    color: white;
}
.post-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    border: 1px solid #e8eaec;
    border-radius: var(--base-section-border-radius);
    background-color: #f9fbfc;
    padding: 1rem;

}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h2 {
    margin-bottom: .7rem;
    font-size: 1.5rem
}

.card-content h3 {
    font-size: 1rem;
    margin-bottom: 0;
}

.card-content i {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 1.5rem; /*fuer icons nutzt man font size um die größe zu desfinieren*/
    color: white;
    background-color: black;
    padding: .2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


}



.card-image img {
    aspect-ratio: 1/1;
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}



/*
Formular
*/

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 63%;
    margin: 60px auto;
    background-color: #f9fbfc;
    justify-content: center;
    border: 1px solid #e8eaec;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-radius: var(--base-section-border-radius);

}

.container h2 {
    text-align: center;
    margin-bottom: 0;
}

.container p {
    padding: 0 2rem;
}

label {
    font-size: .8rem;
    display: block;
    margin-top: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #1c1c1c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
