* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sytem-ui, sans-serif;

}
:root {
    --base-Color: #07214b;
    --accent-color: #38bdf8;
    --base-font-size: 16px;
    --base-font-line-heigt: 1.2em;
    --base-font-weight: 500;


}

body{
    background: #fff;
    color: var(--base-Color);
    font-size: var(--base-font-size);
    line-height: var(--base-font-line-heigt);
    font-weight: var(--base-font-weight);

}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

.top-bar {
    display: flex;              /* ordnet alle Kinder nebeneinander an */
    align-items: center;        /* vertikal zentrieren */
    justify-content: space-between; /* verteilt Platz gleichmäßig */
    padding: 10px 20px;
    background-color: #fff;     /* optional: Hintergrundfarbe */
    color: black;
    margin-left: 60px;
    margin-right: 60px
}

.navigation {
    background-color: #f5f5f5;
    border-radius: 15px;
}

.navigation ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 15px;

}

.navigation ul li a{
    color: black;
    text-decoration: none;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.profile img {
    width: 70px;
    border-radius: 50%;

}

.icon-nav{
    display: flex;
    gap: 25px
}

.icon-nav i{
    background-color:  #f5f5f5;
    padding: 10px;
    border-radius: 50%;

}

